﻿<form action="/Home/Index " method="post">

<label>First</label>

<input name="first" />

<br />

<label>Second</label>

<input name="second" />

<br />

<label>Count</label>

<input type="number" name="count" />

<br />

<button type="submit">Create</button>

<div>
    <p>First = @Model.First<p>
    <p>Second = @Model.Second<p>
    <p>Count = @Model.Count<p>
</div>
</form>